all:
  children:
      centos8:
        hosts:
          server1:
            ansible_connection: ssh
            ansible_user: root
            ansible_host: 0.0.0.0
            ansible_port: 22
            ansible_ssh_pass: 'xxxxxxxxxxxxx
          server2:
            ansible_connection: ssh
            ansible_user: root
            ansible_host: 0.0.0.0
            ansible_port: 22
            ansible_ssh_pass: 'xxxxxxxxxxxxx'
